.illustrationContainer {
  margin: 12vw 0vw 0vw 4vw;
  margin-top: 20vw;
  font-size: 1.5rem;
}

#illustrationText {
  width: 85%;
}

.grid {
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image {
  object-fit: contain;
  width: 100%;
}

.imageBox {
  border: black 1px solid;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 2vw;
}

@media only screen and (min-width: 600px) {
  .illustrationContainer {
    margin: 4vw 0vw 0vw 4vw;
    margin-top: 10vw;
  }

  #illustrationText {
    width: 55%;
  }

  .grid {
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .image {
    object-fit: contain;
    width: 100%;
  }

  .imageBox {
    width: 20vw;
    justify-content: space-between;
    overflow: hidden;
  }
}
