@font-face {
  font-family: "DIN Light", sans-serif;
  src: local("DIN Light"), url(./fonts/DINLightRegular.otf) format("otf");
}

body {
  margin: 0;
  font-family: "DIN Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: white;
  overflow: hidden auto;
}
