@font-face {
  font-family: "DIN";
  src: local("DIN Light"), url(./fonts/DINLightRegular.otf) format("otf");

  src: url("fonts/DIN-Light.eot");
  src: url("fonts/DIN-Light.eot?#iefix") format("eot"),
    url("fonts/DIN-Light.woff") format("woff"),
    url("fonts/DIN-Light.ttf") format("truetype"),
    url("fonts/DIN-Light.svg#DIN-Light") format("svg");
  font-weight: lighter;
  font-style: normal;
}

@import url(//db.onlinewebfonts.com/c/cbf9b417fc15851ba870990e585e35a2?family=DIN);

body {
  margin: 0;
  font-family: "DIN Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: white;
  overflow: hidden auto;
}
